.btn-sm {
  margin-right: 5px;
}

.table {
  margin-top: 20px;
}

.form-select {
  cursor: pointer;
}
.container {
  max-width: 900px;
  margin-top: 20px;
}
table {
  margin-top: 20px;
}
.action-buttons button {
  margin-right: 5px;
}
.row {
  display: flex;
}
