body {
  font-family: Arial, sans-serif;
  background-color: #f9fafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.container {
  padding: 0;
  text-align: center;
  width: 320px;

  width: 298px;
  height: 441.14px;
  margin-top: 106.43px;
}
/* .messages-container {
  background-color: #0056b3;
} */

.logo {
  width: 150px;
  height: 42.55px;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  width: 164.15px;
  height: 33px;
  font-weight: 400px;
  font-size: 26.58px;
  line-height: 33.6px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.remember {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
}

.remember input {
  margin-right: 8px;
}

.signup-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  margin-top: 20px;
  font-size: 13px;
  color: #777;
}
