* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}
p {
  background-color: gray;
}
a {
  text-decoration: none;
  color: azure;
  margin-right: 15px;
  margin-left: 10px;
}
